body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #050510 0%, #000 90%);
  font-family: Arial, sans-serif;
  color: white;
}

.tooltip {
  white-space: nowrap;
  line-height: 1.5;
  backdrop-filter: blur(6px);
}

.tooltip .title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 15px;
}


.hidden {
  opacity: 0;
}